## Print first 10 natural numbers

In [5]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [6]:
print(*range(1,11))

1 2 3 4 5 6 7 8 9 10

## sum of n natural numbers

In [10]:
n = int(input("Enter a number: "))
s = 0
for i in range(1,n+1):
    s += i
    print(s)

Enter a number:  4

1
3
6
10

In [12]:
n = int(input("Enter a number: "))
print(n*(n+1)//2)

Enter a number:  4

10

## Factorial of a number

In [20]:
num = int(input("Enter a number : "))
fact = 1
for i in range(1,num+1):
    fact*=i
    print(fact)

Enter a number :  5

1
2
6
24
120

In [21]:
import math

In [23]:
num = int(input("enter a number: "))
print(math.factorial(num))

enter a number:  45

119622220865480194561963161495657715064383733760000000000

## Multiplication table

In [27]:
n = int(input("Enter a number: "))
for i in range(1,11):
    print(n, 'x', i, '=',n*i)

Enter a number:  7

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [29]:
n = int(input("enter a number: "))
print('\n'.join(f"{n} x {i} = {n*i}" for i in range(1,11)))

enter a number:  7

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70