## Python String Built-in Methods

In [12]:
txt = "jashwanth"

In [ ]:
x = txt.capitalize()

print (x)

Jashwanth

In [8]:
x = txt.casefold()

print(x)

jashwanth

In [9]:
x = txt.center(30)

print(x)

          jashwanth

In [11]:
text = "his name is jashwanth,he was born on march,jashwanth is 20 years now"

y = text.count("jashwanth")

print(y)

2

In [13]:
x = txt.encode()

print(x)

b'jashwanth'

In [14]:
x = txt.endswith("h")

print(x)

True

In [26]:
txt = "j\ta\ts\th\tw\ta\tn\tt\th\t"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

j	a	s	h	w	a	n	t	h
j       a       s       h       w       a       n       t       h
j a s h w a n t h
j   a   s   h   w   a   n   t   h
j         a         s         h         w         a         n         t         h

In [27]:
txt = "My name is jashwanth"

x = txt.find("is")

print(x)

8

In [28]:
txt = "My names is {name}"
print(txt.format(name = "Jash"))

My names is Jash

In [30]:
myvar = {"name" : "Jashwanth", "age" : 20}
txt = "hi my name is {name} ans i'm {age} years old"
print(txt.format_map(myvar))

hi my name is Jashwanth ans i'm 20 years old

In [31]:
txt = "my name is jash"

x = txt.index("name")

print(x)

3

In [36]:
txt = "jashwanth632005"

text = "@Jash"

x = txt.isalnum()
y = text.isalnum()

print(x)
print(y)

True
False

In [38]:
txt = "jashwanthG"
text = "Jashwanth632005"

x = txt.isalpha()
y = text.isalpha()

print(x)
print(y)

True
False

In [37]:
txt = "jashwanth632005"

x = txt.isascii()

print(x)

True

In [40]:
txt = "1234"
text = "Jash"

x = txt.isdecimal()
y = text.isdecimal()

print(x)
print(y)

True
False

In [41]:
txt = "632005"
text = "j1234"

x = txt.isdigit()
y = text.isdigit()

print(x)
print(y)

True
False

In [42]:
txt = "jashwanth"
text = "123 Jash"

x = txt.isidentifier()
y = text.isidentifier()

print(x)
print(y)

True
False

In [43]:
txt = "JASHWANTH"
text = "jashwanth"

x = txt.islower()
y = text.islower()

print(x)
print(y)

False
True

In [44]:
txt = "987654321"

x = txt.isnumeric()

print(x)

True

In [45]:
txt = "i'm Jash"

x = txt.isprintable()

print(x)

True

In [47]:
txt = "   "
text = "j"

x = txt.isspace()
y = text.isspace()


print(x)
print(y)

True
False

In [48]:
txt = "Hello, My Name Is Jashwanth"

x = txt.istitle()

print(x)

True

In [51]:
txt = "HI ITS JASHWANTH"

x = txt.isupper()

print(x)

True

In [52]:
mytext = ("Harry", "Pottor")

x = "-".join(mytext)

print(x)

Harry-Pottor

In [55]:
txt = "Apple"

x = txt.ljust(30)

print(x, "is my favorite fruit.")

Apple                          is my favorite fruit.

In [57]:
txt = "THIS IS a brand NEW car"

x = txt.lower()

print(x)

this is a brand new car

In [58]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [59]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [60]:
txt = "My names is Jashwanth"

x = txt.partition("is")

print(x)

('My names ', 'is', ' Jashwanth')

In [61]:
txt = "I, am, Jash"

x = txt.rsplit(", ")

print(x)

['I', 'am', 'Jash']

In [62]:
txt = "Earth is Round"

x = txt.split()

print(x)

['Earth', 'is', 'Round']

In [63]:
txt = "Earth is flat\nEarth is round"

x = txt.splitlines()

print(x)

['Earth is flat', 'Earth is round']

In [64]:
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [65]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [67]:
txt = "06"

x = txt.zfill(15)

print(x)

000000000000006

In [68]:
txt = "Hello My Name Is JASHWANTH"

x = txt.swapcase()

print(x)

hELLO mY nAME iS jashwanth